.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
}

.address-item {
    margin-top: 9px;
}

.address-list {
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-right: 70px;
}

.address-location-link {
    color: var(--third-color);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.address-nav-link {
    color: var(--fourth-color);
    cursor: pointer;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

