.bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.container-cont-bottom {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
}



