.hero {
    max-width: 1600 px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);

    height: 600;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/background-image.jpg');
    background-size: auto;
    background-position: center;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
}




