.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.first-part {
    color: var(--accent-color);
}

.logo-link {
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.one-part {
    color: var(--accent-color);
}
