.works {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.work__item {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
}

.overlay__box {
    position: absolute;
    height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.overlay__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}